<div #detailsCont *ngIf="product" class="mdc-layout-grid">
  <h2>Edit {{product.name}}</h2>
  <div class="mdc-textfield mdc-textfield--upgraded mdc-layout-grid__cell mdc-layout-grid__cell--span-12" data-mdc-auto-init="MDCTextfield">
    <input [(ngModel)]="product.name" type="text" class="mdc-textfield__input full-width" id="demo-input" />
    <label for="demo-input" class="mdc-textfield__label mdc-textfield__label--float-above">name: </label>
  </div>
  <div class="mdc-textfield mdc-textfield--upgraded mdc-layout-grid__cell mdc-layout-grid__cell--span-12" data-mdc-auto-init="MDCTextfield">
  	<input [(ngModel)]="product.description" type="text" class="mdc-textfield__input full-width" id="description" />
    <label for="description" class="mdc-textfield__label mdc-textfield__label--float-above">description: </label>
  </div>
  <button class="mdc-button mdc-button--raised mdc-button--accent" data-mdc-auto-init="MDCRipple" (click)="save()">Save</button>
  <button class="mdc-button mdc-button--raised" data-mdc-auto-init="MDCRipple" (click)="goBack()">Back</button>
</div>